* {
    margin: 0 auto;
}


body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
}

.text {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    text-align: center;
    font-size: 100px;
    position: relative;
    color: grey;
    letter-spacing: 2px;
}


.infobox {
    font-size: 16px;
}

.info {
    display: flex;
    align-items: center;
}

.info2 {
    display: flex;
    align-items: center;
    justify-items: left;
}
/* Contact gegevens */

.contactgegevens {
    border: 4px solid purple;
    padding: 10px;
    display: flex;
}


/* Wiki MainPage */

.button_wiki {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.button_wiki div {
    background-color: antiquewhite;
    padding: 10px;
}

.button_wiki button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}



/* Header*/
header{
  background-color: #BFBFBF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.container img{
  width: 300px;
  height: 50px;
  margin: 30px;
}

nav {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    font-size: 22px;
    text-decoration: none;
    padding: 3px;
    margin-right: 20px;
    margin-left: 20px;
    color:#424242;
    font: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}


nav a:hover {
    background-color: #ccc;
    padding: 3px;
    border-radius: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BFBFBF;
}

nav a:hover {
    background-color: #ccc;
    padding: 3px;
    border-radius: 10px;
}

header {
    border-bottom: 1px solid #E8E8E8;
    box-shadow: 0px 15px 10px -15px #111;
}

.dropbtn {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #BFBFBF;
    color: BFBFBF;
    padding: 3px;
    font-size: 22px;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: #BFBFBF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 3px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ccc; border-radius: 10px;}
/* Footer */

footer{
  margin-top: 25%;
  text-align: center;
  border-top: 1px solid lightgrey;
  background-color: #BFBFBF;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}

.dropdown:hover .dropbtn {
    background-color: #ccc;
    border-radius: 10px;
}

/* Songtekst */

.ContainerSongtekst {
    text-align: center;
    color: white;
    font-size: 20px;
}

.Blauw {
    background-color: #4682b4;
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Rood {
    background-color: #cc0000;
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Oranje {
    background-color: #b97d4b;
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
}

.GroenRood{
  color: #cc0000;
  background-color: #317f43;
  padding: 22px;
  justify-content: center;
  width: 50%;
  border-radius: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bolder;
}

.GroenRood:hover{
  color: white;
}

.Groen {
    background-color: #317f43;
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
}


/* INDEX PAGINA */

.content {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
    text-align: center;
    background-color: #FC814A;
    margin-top: 120px;
    margin-bottom: 275px;
    padding-top: 120px;
    padding-bottom: 120px;
    border-radius: 22px;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
}

.content .text h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 120px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
}
.content p{
  color: white;
  font-size: 50px;
}

/* Login Pagina */

.contentlogin {
  display: flex;
  width: 50%;
  align-items: center;
  flex-flow: column;
  padding: 22px;
  text-align: center;
  background-color: #FC814A;
  margin-top: 120px;
  margin-bottom: 275px;
  padding-top: 120px;
  padding-bottom: 120px;
  border-radius: 22px;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
  z-index: 1;
}

.contentlogin img{
  width: 150px;
}

.loginbtn{
  padding: 15px;
}

.loginbtn2{
  padding: 15px;
}

.loginmain{
  display: flex;
  justify-content: space-between;
}




/* WIKI PAGINA */

.timotydalto {
    background-color: #317f43;
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
}

.lukeskywalker {
    background-color: #317f43;
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
}

.darthvader {
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}


/* Koffie */

.george_clooney_button {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}


/* Klok en Datum*/

div.digital-clock {
    text-align: center;
    font-size: 55px;
    position: block;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}
.date{
  text-align: center;
  display: block;
  font-size: 55px;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;

}

.date p{
  padding-top: 5px;
}

/* Boeken */

.boeken {
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .boeken img{
    width: 760px;
    height: 300px;
  }

/* Koffie */

.koffie {
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

/* zagen */

.cirkelzaag {
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

.handzagen {
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

.kettingzagen {
    padding: 22px;
    justify-content: center;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }


/* Gereedschap */

.hamers {
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

.schroevendraaiers {
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }


/* Information */

.jamesbond {
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

.rogermoore {
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

.georgeclooney {
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 22px;
    font-size: 20px;
  }
  .frisdranken{
    padding: 22px;
    justify-content: center;
    width: 50%;
    background-color:  #b97d4b;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .frisdranken h3{
    padding-top: 20px;

  }

  .warmedranken{
    padding: 22px;
    justify-content: center;
    width: 50%;
    background-color: purple;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
  }

  .warmedranken h3{
    padding-top: 20px;
  }

  .acteurs{
    padding: 22px;
    text-align: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }
  ul{
    padding: 0;
  }
  .acteurs a{
    color: #000000;
    text-decoration: none;
  }
  li{
   list-style: none;
  }
  .acteurs h1{
  padding-bottom: 15px;
   }

  .songteksten h1{
  padding-bottom: 15px;
   }

  .gereedschappen h1{
    padding-bottom: 15px;
     }

  .boeken h1{
    padding-bottom: 15px;
  }

  .acteurs a:hover{
    background-color: #96939B;
    border-radius: 10px;
    padding: 1px;
  }

  .gereedschappen{
    padding: 22px;
    text-align: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .gereedschappen a{
    color: #000000;
    text-decoration: none;
  }

  .gereedschappen a:hover{
    background-color: #96939B;
    border-radius: 10px;
    padding: 1px;
  }
  
  .zagen{
    padding: 22px;
    text-align: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .zagen a{
    color: #000000;
    text-decoration: none;
  }

  .zagen a:hover{
    background-color: #96939B;
    border-radius: 10px;
    padding: 1px;
  }

  .boeken{
    padding: 22px;
    text-align: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .boeken a{
    color: #000000;
    text-decoration: none;
  }

  .boeken a:hover{
    background-color: #96939B;
    border-radius: 10px;
    padding: 1px;
  }

  .boeken h1{
    padding-bottom: 15px;
  }


  .songteksten{
      padding: 22px;
      text-align: center;
      width: 50%;
      border-radius: 22px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
      z-index: 1;
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 20px;
  }
  
  .songteksten a{
    text-decoration: none;
    color: black;
  }

  .songteksten a:hover{
    background-color: #96939B;
    border-radius: 10px;
    padding: 1px;
  }

  /* IMG */

  .jamesbond img{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .darthvader img{
    width: 760px;
    height: 300px;
    border-radius: 10px;
  }

  .timotydalto img{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .rogermoore img{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .georgeclooney img{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .lukeskywalker img{
    width: 760px;
    height: 300px;
    border-radius: 10px;
  }

  .cirkelzaag img{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .hamers img{
    width: 760px;
    height: 300px;
    border-radius: 10px;
  }

  .kettingzagen img{
    width: 760px;
    height: 300px;
    border-radius: 10px;
  }

  .schroevendraaiers img{
    width: 550px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .handzagen img{
    width: 760px;
    height: 300px;
    border-radius: 10px;
  }

  .koffie img{
    border-radius: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
  }

  .georgeclooney img{
    border-radius: 10px;
    width: 660px;
    height: 300px;
  }

  .information_footer img{
    width: 300px;
    height: auto;
  }

  .footer_text{
    margin-top: 40px;
  }

  .footer_text p{
    display: flex;
    justify-content: start;
    font-weight: 500;
  }

  /* externe links */

  .externelinks{
    padding: 22px;
    justify-content: center;
    width: 50%;
    border-radius: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .loginbtn{
    display: flex;
    justify-content: end;
  }

/* Kleuren */

.text{
  color: white;
}

.links a {
    color: #424242;
}

.dropbtn {
    background-color: #BFBFBF;
    color: #424242;
    font-weight: bold;
}

.Blauw{
    background-color: #4682b4;
}

.Rood{
    background-color: #cc0000;
}

.Oranje{
    background-color: #b97d4b;
}

.content{
    background-color: #FC814A;
}

.timotydalto{
    background-color: #317f43;
    color: white;
}

.lukeskywalker{
    background-color: #317f43;
    color: white;
}

.darthvader{
    background-color: #CEE40B;
}

/* Footer */

.information_footer{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.copyright{
  padding-bottom: 10px;
  font-weight: bolder;
}

.admin{
  padding: 22px;
  text-align: center;
  width: 50%;
  border-radius: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

/* Boeken */

.drno{
  padding: 22px;
  text-align: center;
  width: 50%;
  border-radius: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

.drno img{
  height: 300px;
}

.harrypotter{
  padding: 22px;
  text-align: center;
  width: 50%;
  border-radius: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

.harrypotter img{
  height: 300px;
}

.moonraker{
  padding: 22px;
  text-align: center;
  width: 50%;
  border-radius: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

.oorlogenvrede{
  padding: 22px;
  text-align: center;
  width: 50%;
  border-radius: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

.turksfruit{
  padding: 22px;
  text-align: center;
  width: 50%;
  border-radius: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

.turksfruit img{
  height: 300px;
}

.hitchhikers{
  padding: 22px;
  text-align: center;
  width: 50%;
  border-radius: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

.hitchhikers img{
  height: 300px;
}

/* Login Button */

.UserChatBtn {
  background-color: #BFBFBF;
  color: black;
  padding: 16px 20px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  position: left;
  width: 280px;
  border-radius: 22px;
}

.AdminChatBtn {
  background-color: #BFBFBF;
  color: black;
  padding: 16px 20px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  position: right;
  width: 280px;
  border-radius: 22px;
}

/* Button */
.btn-1,
.btn-2 {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Created by http://grohit.com/  */
footer a,
.btn-1 a,
.btn-2 a {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}


.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: purple;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before,
.btn-2 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: purple;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}
/* Created by http://grohit.com/  */

.btn-1 a:hover::after,
.btn-2 a:hover::after {
  transform: scaleX(0);