

body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
}
/* Wiki MainPage */
.button_wiki{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.button_wiki div{
    background-color: antiquewhite;
    padding: 10px;
}

.button_wiki button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
/* Header*/
.container{
    max-width: 1024px;
    margin: 0 auto;
}

nav{
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a{
    font-size: 22px;
    text-decoration: none;
    padding: 3px;
    margin-right: 20px;
    margin-left: 20px;
    color: #27AE60;
    font: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

nav img{
    height: 100px;
    width: auto;
}

nav a:hover{
  background-color: #ccc;
  padding: 3px;
  border-radius: 10px;
}


.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:hover{
  background-color: #ccc;
  padding: 3px;
  border-radius: 10px;
}


header{
    border-bottom: 1px solid lightgrey;
    box-shadow: 0px 15px 10px -15px #111; 
    
}

.dropbtn {
    background-color: white;
    color:#27AE60;;
    padding: 3px;
    font-size: 22px;
    margin-right:20px ;
    margin-left: 20px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 3px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ccc; border-radius: 10px;}

/* Songtekst */
.ContainerSongtekst{
    text-align: center;
}
.Blauw{
    background-color:  #4682b4;
}
.Rood{
    background-color:   #cc0000;
}
.Oranje{
    background-color:  #b97d4b;
}



